.header {
  max-width: 100%;
  min-height: 50px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  border: solid red;
}

.header__logo {
  width: 80%;
  background-image: url('/assets/logo.svg');
  background-repeat: no-repeat;
}

.header__user-info {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.header__user-name {
  display: inline-block;
  font-size: 18px;
}

.header__user-name:first-child {
  margin-right: 15px;
}




