<div class="card">
  <div class="content">
    <h3 class="title">{{existingCard.title}}</h3>
    <p class="description">{{existingCard.description}}</p>
  </div>
  <div class="details">
    <div class="about-section">
      <ul class="list">
        <li class="list-item"><b>Authors:</b> {{existingCard.authors | stringJoiner: ', ' }}</li>
        <li class="list-item"><b>Duration:</b> {{existingCard.duration | duration}} hours</li>
        <li class="list-item"><b>Created:</b> {{existingCard.creationDate | creationDate}}</li>
      </ul>
    </div>
    <div class="button-section">
      <ng-content></ng-content>
    </div>
  </div>
</div>
