<ng-template #empty>
  <app-info [title]="'Your list is empty'"
            [text]="'Please use the \'Add new course\' button to add your first course'">
    <app-button [buttonText]="'Add new course'"></app-button>
  </app-info>
</ng-template>

<ng-container *ngIf="cards.length; else empty">
  <app-course-card *ngFor="let card of cards"
              [card]="card">
    <a [routerLink]="'/courses/'+card.id"><app-button [buttonText]="'Show course'"></app-button></a>
    <a [routerLink]="'/course/edit/'+card.id"><app-button *ngIf="isEditable"
                [iconName]="'edit'"></app-button></a>
    <app-button (click)="deleteCourse(card.id)" *ngIf="isEditable"
                [iconName]="'remove'"></app-button>
  </app-course-card>
</ng-container>
