<div class="login-form">
  <h3>Login</h3>
  <form #loginForm="ngForm">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" placeholder="Enter email" class="login-input" ngModel required #email="ngModel" appCheckEmail="admin@localhost" email><br>

    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
      <div *ngIf="email.errors?.['required']">
        Email is required.
      </div>
      <div *ngIf="email.errors?.['wrongEmail']">
        You are not admin!!!
      </div>
      <div *ngIf="email.errors?.['email']">
        Invalid email
      </div>
      <br>
    </div>

    <label for="password" class="second-label">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="Enter password" class="login-input" ngModel required #pass="ngModel"><br>
    <div class="error-message" *ngIf="!pass?.valid && (pass?.dirty || pass?.touched)">
      Password is required
      <br>
    </div>
    <br>
    <div class="submit">
      <app-button (click)="submitForm(email, pass)" buttonText="Login"></app-button>
    </div>
  </form>
  <div class="link-section">
    <p>If you don't have an account you can</p>
    <a class="link" (click)="routeToRegistrationPage()">Registration</a>
  </div>
</div>

