<app-header>
  <p class="header-name">Dzmitry</p>
  <app-button class="header-button" [buttonText]="'Logout'"></app-button>

</app-header>
<!--<app-button [buttonText]="'hello'"></app-button>-->
<!--<app-button [iconName]="'pencil'"></app-button>-->
<!--<app-button [iconName]="'edit'"></app-button>-->

<!--<app-info [title]="'Your list is empty'" [text]="'Please use the \'Add new course\' button to add your first course'">-->
<!--  <app-button [buttonText]="'Add new course'"></app-button>-->
<!--</app-info>-->

<app-course *ngFor="let card of cards" [card]="card">
  <app-button [buttonText]="'Show course'"></app-button>
  <app-button *ngIf="isEditable" [iconName]="'edit'"></app-button>
  <app-button *ngIf="isEditable"  [iconName]="'remove'"></app-button>
</app-course>



